<!DOCTYPE html>
<html lang="ro">

<head>


	

	<%- include("../fragmente/metadata") %>

	<title>

		Filmul tau. Aici

	</title>

	<link href="/resources/css/index.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" type="image/x-icon" href="/resources/images/favicon.ico" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
	<link rel="stylesheet" href="/resources/css/colorScheme.css">
	<link rel="stylesheet" href="/resources/css/index-1400.css" type="text/css" media="screen and (max-width:1400px)" />
	<link rel="stylesheet" href="/resources/css/index-600.css" type="text/css" media="screen and (max-width:600px)" />
	<link rel="stylesheet" href="/resources/css/nav.css">
	<link rel="stylesheet" href="/resources/css/nav-mic.css" type="text/css" media="screen and (max-width:600px)" />
	<link rel="stylesheet" href="/resources/css/hrStyling.css">
	<link rel="stylesheet" href="/resources/css/link-top.css">
	<link rel="stylesheet" href="/resources/css/iframe.css">
	<link rel="stylesheet" href="/resources/css/grid-mare.css">
	<link rel="stylesheet" href="/resources/css/grid-mediu.css" type="text/css" media="screen and (max-width:1400px)" />
	<link rel="stylesheet" href="/resources/css/grid-mic.css" type="text/css" media="screen and (max-width:600px)" />
	<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
	<script src="https://kit.fontawesome.com/adc7ec3556.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
	<link rel="stylesheet" href="/resources/css/headerStyle.css">
	<link rel="stylesheet" href="/resources/css/poze.css">
	<link rel="stylesheet" href="/resources/css/galerie-statica.css">
	<link rel="stylesheet" href="/resources/css/video.css" type="text/css">
	<link rel="stylesheet" href="/resources/css/print-page.css">
</head>






<body>

	<div id="grid-pagina">
		<%- include("../fragmente/header") %>

		<%- include("../fragmente/navbar") %>
		<main>
			
			<section id="g1">
				<p>Bun venit la cinematograful <b>FilmulTau</b>. Locul unde magia se intampla.</p>
			</section>
			<section id="g2">
				<section id="orar">
					<h2 id="Program"><i class="fas fa-calendar-alt"></i>Programul nostru de functionare</h2>
					<p>Vezi când te poți bucura de magia <b>filmelor</b> la <b>cinema</b> <b>FilmulTau </b></p>
					<div id="tabel">
						<table id="tab-orar">
							<thead>

								<tr>

									<th class="col-title">Tip zi</th>
									<th class="col-title">Program cinema interior</th>
									<th class="col-title">Program cinema in aer liber</th>
									<th class="col-title">Capacitate</th>
								</tr>
							</thead>
							<tbody>

								<tr class="actualTableRow">


									<td class="odd-col">Luni </td>
									<td class="even-col">10-12</td>
									<td class="odd-col">12-14</td>
									<td class="even-col">250</td>

								</tr>

								<tr class="actualTableRow">

									<td class="odd-col">Marti</td>
									<td class="even-col">9-12</td>
									<td class="odd-col">12-14</td>
									<td class="even-col">250</td>
								</tr>
								<tr class="actualTableRow">


									<td class="odd-col">Miercuri</td>
									<td class="even-col">9-11</td>
									<td class="odd-col">11-13</td>
									<td class="even-col">250</td>
								</tr>
								<tr class="actualTableRow">


									<td class="odd-col">Joi</td>
									<td class="even-col">9-11</td>
									<td class="odd-col">11-13</td>
									<td class="even-col">250</td>
								</tr>
								<tr class="actualTableRow">


									<td class="odd-col">Vineri</td>
									<td class="even-col">10-20</td>
									<td class="odd-col">09-23</td>
									<td class="even-col">250</td>
								</tr>
								<tr class="actualTableRow">

									<td class="odd-col">Weekend</td>

									<td class="even-col">09-22</td>
									<td class="odd-col">09-00</td>
									<td class="even-col">350</td>
								</tr>
								
							</tbody>
							<tfoot>
								<tr class="actualTableRow">

									<td class="odd-col">Sarbatori Legale</td>
									<td class="even-col">inchis</td>

									<td class="odd-col">inchis</td>
									<td class="even-col">-</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</section>
			</section>

			<section id="g3">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam tenetur veritatis autem corporis
					odio nostrum provident deleniti quod reiciendis. Tenetur ad accusantium numquam cum fugit animi
					mollitia repudiandae alias? Atque.</p>
			</section>


			<section id="g4">
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum optio hic voluptatem aut debitis
					delectus rerum animi, sapiente ab similique molestiae excepturi quos tempora ea voluptas eligendi
					quasi quae consequuntur.</p>
			</section>

			<section id="g5">
				<div id="container-video">
					<img class="farfurie" src="resources/images/velvet.jpg" alt="farfurie">
					<div id="centrare-video">
						<div id="clip-video">
							<div id="stil-video">
								<video width="320" height="240"  poster="/resources/images/loading.jpg" controls preload="auto" autoplay loop muted>
									<source src="resources/video/oscar.mp4" type="video/mp4">
									<source src="resources/video/oscar.ogv" type="video/ogv">
									<track  default src="/resources/video/tracks/captions-oscar.vtt" kind="captions" srclang="ro" label="romana">
									<track  src="/resources/video/tracks/captions-oscar-en.vtt" kind="captions" srclang="en" label="engleza">
								</video>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="g6">
				
				
			</section>
			<section id="g7">
				<script src=
			"https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
				</script>
			
				<script>
					/* Add "https://api.ipify.org?format=json" statement
					this will communicate with the ipify servers in
					order to retrieve the IP address $.getJSON will
					load JSON-encoded data from the server using a
					GET HTTP request */
			
					$.getJSON("https://api.ipify.org?format=json",
													function(data) {
			
						// Setting text of element P with id gfg
						$("#gfg").html(data.ip);
					})
				</script>
			
				<p>IP-ul utilizatorului curent este:</p>
				<p id="gfg"></p>
			</section>
			<section id="g8">









				<blockquote cite="https://www.azquotes.com/author/90975-Lav_Diaz">
					<p class="quote"> <i lang="en"><b>Cinema</b> is the greatest mirror of the humanity struggle. </i></p>
					<p class="quote"> <i lang="en"> You see this alternative world, but you're part of it.</i></p>
				</blockquote>


				<blockquote cite="https://www.pinterest.com/pin/855261785454935019/">

					<p class="quote"><i lang="en"><b>The cinema</b> is an explosion of my love for reality.</i></p>


				</blockquote>


				<hr class="hr" />

				<a id="Bilet"></a>
				<h2><i class="fas fa-stroopwafel fa-spin"></i>Cumpara un <b>bilet</b>. Acum mai simplu ca niciodata</h2>

				<details>
					<summary>Urmează pașii de mai jos</summary>

					<ol>
						<li>Creează-ți un cont</li>
						<li>Alege <b>filmul</b> tău favorit din lista noastră</li>
						<li>Alege o dată la care ne poți vizita</li>
						<li>Rezervă <b>bilete</b> pentru tine și pentru prietenii tăi și alegeți-vă <b>locurile</b></li>
						<li>Alege metoda de plată si finalizează <b>comanda</b></li>
						<li>Vino la <b>cinema</b> <b>FilmulTau</b> și bucură-te de un <b>spectacol</b> pe cinste.</li>
					</ol>

				</details>


				<hr class="hr" />

				<a id="Stiri"></a>
				<h2><i class="fas fa-stroopwafel fa-spin"></i>Noutati si anunturi importante </h2>

				<details>

					<summary>Click aici pentru a fi la curent cu știrile</summary>


					<ul >

						<li class="anunturi"><div class="anunt"><strong> Atenție! </strong> Din cauza normelor de protecție împotriva <i> COVID-19</i>
							decise de către <abbr title="Ministerul Afacerilor Interne">MAI</abbr>, programul <b>
								cinematografului </b> <strong> poate fi afectat. </strong></div></li>
						<li class="anunturi"> <div class="anunt">Vizitați pagina noastră de <b>oferte</b>, pentru a vedea surprizele lunii Martie</div></li>
						<li class="anunturi"> <div class="anunt">Pe data de <s> <time datetime="2021-03-15 12:00"> 15 Martie 2021</time> </s> <ins> <time
									datetime="2021-03-25 12:00"> 25 Martie 2021</time> </ins> se va deschide o nouă sală
							de <b>proiecție</b> (data a fost amânată din cauza vremii)</div></li>
						<li class="anunturi"><div class="anunt">Magazinul nostru de <b>snacks</b> va așteaptă cu noul sortiment de <b>popcorn</b> cu caramel
							sărat și cu <b>Nachos</b> cu Salsa.</div></li>
					</ul>

				</details>

				<hr class="hr" />
				<a id="Filme"></a>
				<h2><i class="fas fa-stroopwafel fa-spin"></i> Vezi aici <b>filmele</b> noi ale anului</h2>


				<details>

					<summary> Click aici pentru a vedea cele mai cool <b>filme</b> ale anului 2021</summary>
					<div class="Trailers">
						<iframe name="ifr-video" class="ifr-video" width="560" height="315"
							src="https://www.youtube.com/embed/kP9TfCWaQT4" 
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>
						<div class="taburi-iframe">
							<a href="https://www.youtube.com/embed/kP9TfCWaQT4" target="ifr-video">Animatie</a>
							<a href="https://www.youtube.com/embed/_qyw6LC5pnE" target="ifr-video">Actiune</a>
							<a href="https://www.youtube.com/embed/n9xhJrPXop4" target="ifr-video">SF</a><br />
						</div>

					</div>

				</details>
			</section>


		</main>



		<%- include("../fragmente/footer") %>
	</div>

</body>