<footer id="footer">

			<div id="watermark">Ion-Marian Anghelina</div>

			<address>


				<a id="Contact"></a>
				Date de contact <br>

				<a href="tel:+40123456789"> +40123456789</a> <br>

				<a href="mailto:filmultau@cinema.ro"> filmultau@cinema.ro </a> <br>

				<a href="https://www.google.com/maps/place/Strada+Monet%C4%83riei+12,+Bucure%C8%99ti+011216/@44.4547026,26.0804201,17z/data=!3m1!4b1!4m5!3m4!1s0x40b202021da00ad9:0xb003fd11821d7fc!8m2!3d44.4546988!4d26.0826088"
					target=_blank>
					Strada Monetăriei, numărul 12 <br> București, Romania

				</a> <br>

			</address>

			<small>
				&#169; 2021 Anghelina Ion-Marian <br>
			</small>





			Pagina a fost creată pe data de <time datetime="2021-03-02 15:16"> 2 Martie 2021</time>. <br>


			<a href="#pageBeginning" title="Return to Main Menu" class="link-top">
				<div class="triangle"></div>
			</a>
			<!--a href="#pageBeginning"> Click aici pentru a te intoarce la începutul paginii</a><!-->
			<div id="bannerdiv">
				<p id="banner"> ACEST SITE REPREZINTA UN PROIECT UNIVERSITAR. NU EXISTA NICIUN CINEMATOGRAF LA LOCATIA
					SPECIFICATA. </p>`
			</div>
		</footer>