<div id="header">
			<header>

				<a id="pageBeginning"></a>

				<img src="/resources/images/sigla.jpg" alt="sigla" id="sigla">
				<a href="/index" id="homeLink"> <h1> <b>FilmulTau</b> </h1> </a>
				


				


			</header>

		</div>