<nav>
            
    <label id="hamburger" for="ch-menu">
        <img src="/resources/images/Hamburger_icon_alb.png" alt="menu">
    </label>

    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
        <li><div class="homeOption"><i class="fas fa-home" id="homeIcon"></i><div class="homeText">Acasa</div></div>
            <ul>
                <li class="dropdown"><a href="#Oferte" class="suboption">Oferte</a></li>
                <li class="dropdown"><a href="#Stiri" class="suboption">Stiri</a></li>
                <li class="dropdown"><a href="#Program" class="suboption">Program</a></li>
                <li class="dropdown"><a href="#index-intrebari" class="suboption">FAQ</a></li>
            </ul>
        </li>
        <li>
            <div class="mainOption">Contul meu</div>
            <ul>
            <li class="dropdown"><a href="loginpage" class="suboption">Conectare</a></li>
            <li class="dropdown"><a href="signuppage" class="suboption">Inregistrare</a></li>
            </ul>
        </li>
    
        <li><div class="mainOption">Despre Noi</div>
            <ul>                        
                <li class="dropdown"><a href="prezentare" class="suboption">Prezentare</a></li>              
                <li class="dropdown"><a href="TBD" class="suboption">Locatii</a></li>
                <li class="dropdown"><a href="TBD" class="suboption">Galerie</a></li>
            </ul>
        </li>
        
        <li><div class="mainOption">Filme</div>
            <ul>                        
                <% for( let categorie of locals.categorii) { %>
                    <%capitalName=categorie.categ[0].toUpperCase() + categorie.categ.substring(1);%>
                    <li class="dropdown"><a href=<%-"/filme?categorie=".concat(categorie.categ)%> class="suboption"><%- capitalName%></a></li>
                   
                <% } %>
            </ul>
        </li>

        <li class="mainOption"><div><a href="#Contact">Contact</a></div></li>
    </ul>
</nav>	