:root {
    --color1: #FFDBDB;
    --color2: #8E94DE;
    --bgColor: #A9F5C1;
    --color4: #E0D8B6;
    --color5: #FA918D;
    --color6: crimson;
    --bannerColor: orange;
    --secBanner: cyan;
    --bannerText: red;
    --navbg: purple;
    --color7: lightyellow;
    --color8: lightblue;
    --color9: blue;
    --color10: yellow;
    --color11: silver;

}