h2{
    padding:0.4rem;
}
#art-produs{
    margin:0 auto;
    width:70%;
    max-width:700px;
    background-color: var(--color7);
    box-shadow: 0px 0px 10px 5px grey;
    padding:0.4rem;
}

#art-produs p{
    margin:0;
    padding:0.4rem;
    font-weight:bold;
    font-size:1.1rem;
}

#art-produs p span{
    font-weight: normal;
}
#art-produs p:nth-of-type(even){
    background-color: var(--color1);
}
#art-produs p:nth-of-type(odd){
    background-color: var(--secBanner);
}
.imag-produs{
    text-align: center;
}
.imag-produs img{
    width:50%;
    height:auto;
}
@media screen and (max-width: 700px){
    #art-produs{
        margin:0 auto;
        width:95%;
    }
}

.pret
{
    grid-area:pret;
}

.descriere
{
    grid-area:descriere;
}

.xcast
{
    grid-area:cast;
}

.xdurata
{
    grid-area: durata;
}

.xvarsta
{
    grid-area:varsta;
}

.xcategorie
{
    grid-area:categorie;
}
.xtreid
{
    grid-area:treid;
}

.xdata
{
    grid-area:data;
}
.imag-produs
{
    grid-area:imag-produs;
}

#gridinfo
{
    display:grid;
    grid-template-areas:"pret categorie"    
                        "cast descriere" 
                        "data descriere"  
                        "treid ."
                        "varsta ." 
                        "durata ."
                        "imag-produs ."
                        "imag-produs ."
                        "imag-produs .";
    
}