#header {
    grid-area: header;
}

#g1 {
    grid-area: g1;
}

#g2 {
    grid-area: g2;
}

#g3 {
    grid-area: g3;
}

#g4 {
    grid-area: g4;
}

#g5 {
    grid-area: g5;
}

#g6 {
    grid-area: g6;
}

#g7 {
    grid-area: g7;
}

#g8 {
    grid-area: g8;
}

#footer {
    grid-area: footer;
}


main {
    display: grid;
    grid-template-areas:
        "g1     g1     g1     g1"
        "g3     g2     g2     g4"
        "g8     g8     g8     g8"
        "g7     g7     g5     g6";

    padding: var(--padding-intern);

    grid-gap: 2rem;
}