/*facem vizibil iconul de hamburger meniu*/

#hamburger {
    display: block;
}


/* implicit meniul e ascuns*/

ul.meniu {
    opacity: 0;
    position: absolute;
    width: 100%;
}

@keyframes dropdown {
    0% {
      opacity: 1;
      height: 0;
    }
    100% {
      opacity: 1;
      height: 3em;
    }
  }
/*aici facem vizibil meniul cand faem click pe hamburger meniu*/

#ch-menu:checked+ul.meniu {
    
    animation-name:dropdown;
    animation-iteration-count: 1;
    animation-duration: 0.4s;
    animation-fill-mode:forwards;
    animation-timing-function: linear;
}



/*optiunile se intind pe toata latimea containerului*/

nav ul.meniu li {
    width: 100%;
}


/*meniul sa vina deasupra continutul de mai jos, fara sa impinga continutul*/

nav ul.meniu>li ul {
    position: absolute;
    width: 100%;
    z-index: 20;
}





ul.meniu div:hover {


    box-shadow: inset 1px 1px 5px 5px white;
    /**animation-name: animatieMeniu1;
     animation-iteration-count: 1;
     animation-duration: 1s;**/
}

ul.meniu .suboption:hover {
    box-shadow: inset 1px 1px 5px 5px white;
    background: var(--navBg);
}

.suboption::before {
    content: "";
    opacity: 0;
}

.homeText {
    display: none;
}


#homeIcon {
    display: initial;
}